# Core
python-dotenv
numpy

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-pinecone
langchain-huggingface
langchain-mistralai

# Vector DB
pinecone

# Embeddings
sentence-transformers
transformers
torch

# Whisper Speech-to-Text
faster-whisper

# Audio
sounddevice
pygame

# Voice TTS
edge-tts

# UI
streamlit
markdown

# Utilities
regex

# Image Search
google-search-results

# Age Detection
opencv-python
onnxruntime